<div class="w-full relative">
  <input
    type="password"
    name="<%= name %>"
    id="<%= id %>"
    placeholder="<%= placeholder || 'Password' %>"
    autocomplete="off"
    class="w-full border border-zinc-300 rounded-md px-4 py-2
           focus:outline-none focus:border-[#2C7481]"
    required
  />

  <button
    type="button"
    class="toggle-password absolute right-3 top-1/2 -translate-y-1/2 text-sm text-zinc-600"
    data-target="<%= id %>"
  >
    Show
  </button>
</div>
